In [ ]:
from io import StringIO

pip install yahoo_fin

In [ ]:
pip install requests_html

In [3]:
import pandas as pd
import stock_data

In [8]:
import requests
from bs4 import BeautifulSoup
from io import StringIO

url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
resp = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
soup = BeautifulSoup(resp.text, "html.parser")
table = soup.find("table", {"id": "constituents"})

df = pd.read_html(StringIO(str(table)))[0]
df = df[["Symbol", "Security"]].rename(columns={"Symbol": "Ticker"})
df["Index"] = "S&P 500"

df

    Ticker             Security    Index
0      MMM                   3M  S&P 500
1      AOS          A. O. Smith  S&P 500
2      ABT  Abbott Laboratories  S&P 500
3     ABBV               AbbVie  S&P 500
4      ACN            Accenture  S&P 500
..     ...                  ...      ...
498    XYL           Xylem Inc.  S&P 500
499    YUM          Yum! Brands  S&P 500
500   ZBRA   Zebra Technologies  S&P 500
501    ZBH        Zimmer Biomet  S&P 500
502    ZTS               Zoetis  S&P 500

[503 rows x 3 columns]